<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
</head>

<body>
    <section class="container">
        <figure class="card">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample15.jpg" alt="pr-sample15" />
          <div class="image"><img id="img" src="https://res.cloudinary.com/reyes181/image/upload/v1535065880/mkx/Ermac.png" alt="Ermac" /></div>
          <figcaption>
            <h3 id="name1">Ermac</h3>
            <div id="var">
              <img id="v1" src="https://res.cloudinary.com/reyes181/image/upload/v1535065881/mkx/ermac_spectral.png">
            </div>
            <div id="var">
              <img id="v2" src="https://res.cloudinary.com/reyes181/image/upload/v1535065880/mkx/ermac_mystic.png">
            </div>
            <div id="var">
             <img id="v3" src="https://res.cloudinary.com/reyes181/image/upload/v1535065880/mkx/ermac_master.png">
            </div>
            <h4 id="v1name">Spectral</h4>
            <h4 id="v2name">Mystic</h4>
            <h4 id="v3name">Master of Souls</h4>
          </figcaption><span class="read-more">
             
            New Fighter <i class="ion-android-arrow-forward"></i></span>
          <a id="fighter" href="#"></a>
        </figure>
    </section>
 

<script type="text/javascript" src="app.js"></script>
</body>